//寫法 @mixin function名稱(){屬性值,組件...}
//呼叫 @include function名稱()

// 置中 把寬&高設定變數 $w & $h 要用時再在()設定值帶入 預設沒有高就設定成null
@mixin center($w, $h: null) {
  margin: 0 auto;
  width: $w;
  height: $h;
}

// 方形 預設寬高一樣 不寫$h值就會直接帶入$w的值
@mixin rect($w, $h: $w) {
  width: $w;
  height: $h;
}

// layout 當寬被設定為100%時->滿版 若寬為其他數值->最大寬$w且水平置中
@mixin layout($w) {
  @if $w == 100% {
    width: 100%;
  } @else {
    max-width: $w;
    margin: 0 auto;
    width: 100%;
  }
}

//加入@content 表示還可以增加其他屬性
@mixin a() {
  font-size: 20px;
  &:hover {
    @content;
  }
}

a {
  color: #333;
  @include a() {
    color: #999;
    //因為a()的@content寫在&:hover 所以color: #999; 就會變成a被hover後的顏色
  }
}

@mixin m() {
  @media all and (max-width: $m) {
    // 手機板
    @content;
  }
}

@mixin t() {
  @media all and (max-width: $t) {
    // 平板
    @content;
  }
}

@mixin set($val) {
  @media all and (max-width: $val) {
    // 客製化 自訂斷點
    @content;
  }
}

@mixin fontWeight($w) {
  @if $w == bold {
    font-weight: bold;
  } @else if $w == default {
    font-weight: 400;
  } @else {
    font-weight: 100;
  }
}

//中、英文字樣式
@mixin fontstyle($style) {
  @if $style == "zh" {
    font-family: "Noto Sans TC", sans-serif;
  } @else if $style == "en" {
    font-family: "Montserrat", sans-serif;
  }
}

//border
@mixin border($color , $border : true){
  @if $border {
    border: 1px solid $color;
    border-radius: 6px;
  }@else {
    border: initial;
  }
}

//按鈕顏色
@mixin btnColor($bgc , $border: false) {
  @if $border {
    border: 1px solid $bgc;
    color: $bgc;
    &:hover {
      background-color: $bgc;
      color: #fff
    }
  } @else {
    background-color: $bgc;
    color: #fff;
    &:hover {
      background-color: darken($bgc, 10);
    }
  }
}