  header { //電腦版header
    width: 100%;
    background-color: #ffb302;
    @include t(){ //設定平板header顏色
      background-color: #00a473; 
    }
    @include m(){ //設定手機header顏色
      background-color: #ff00ea; 
    }
    nav {
      ul {
        list-style: none;
        display: flex;
        @include set(700px){
          display: none;
        }
        li {
          padding: 10px 30px;
          background-color: #20ea88;
          @include t(){
            background-color: #024c64;
            a {
            color : #fff;
            }
          }
          text-align: center;
        }
      }
    }
  }





